.site-logo {
  max-height:80px;
  align-self: center;
  margin:10px;
}

.hidden {
  display: none;
}

.more {
  margin: 2em 0 1em;
}

.more a {
  border-radius: 2px;
  border: 1.5px solid #68f;
  padding: .4em .8em;
  transition: .2s;
}

.more a:hover {
  color: #fff;
  background: #68f;
  text-decoration: inherit;
}

.social-links
{
  display: flex;
  margin-left: auto;
}

.social-links a {
  text-decoration: none;
  margin: 0em 0.3em;
  display: flex;
}

.post-list {
  list-style-type: none;
  padding:0;
}

.post-list .post-meta{
  justify-content: space-between;
}

.post-list li {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 1em;
  margin: 0.8em 0;
}

.post-list p {
  margin: 0;
}

.post-list time {
  display: inline-block;
  min-width: 10ch;
  margin: 0 .2em;
}

.post-meta {
  color: #8e8e91;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-meta a {
  font-size: 1.1em;
}

.comments-item {
  margin-top: 10%;
}

.foot {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  margin: 1%;
  color: #8e8e91;
  text-align: center;
}

.foot a:hover {
  text-decoration: underline;
}

/* Icons */

.date .icon {
  margin: 0 0.2em;
  /* Set Opacity to get the underlying SVG Gray.. Yeah nah, I know, I know */
  opacity: 0.5;
}

.opaque {
  opacity: 0.4;
}

.social-links .icon {
  height:1.2em;
  border-radius: 0;
  padding: 0.4em;
}

.social-links .icon:hover
{
  outline: 1px solid #333;
}

.icon
{
  display: inline-block;
  margin:0;
  height:1em;
  align-self: center;
}

/* Post Categories */

.categories {
  margin: 0.5 em 0;
  justify-content: flex-start;
  align-items: center;
}
.categories a {
  margin: 0 0.3em;
}

/* Figures */

figure
{
  border: 1px solid whitesmoke;
  border-radius: 5px;
  display: block;
  padding: 1.5em;
}

figure img {
  margin: 0 auto;
}

figure.limit-height-1 img {
  max-height:30vh;
}

figcaption h4,
figcaption p {
  text-align: center;
  margin:0;
  padding:0;
}

figcaption a {
  display: block;
  color: #8e8e91;
}

