@media (min-width: 50em) {
  @font-face {
    font-family: 'PT Sans';
    src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/PTSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'PT Sans';
    src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
}

html {
  font-size: 16px;
  font-size: calc(0.8rem + 0.3vw);
  background: #ffffff;
  color: #3c484e;
}

body {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #15171a;
}

#article > p:first-of-type {
  font-size:1.25em;
  line-height: 1.5em;
}

b, strong, th {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
  color: #0A2463;
}

article a {
  color: #0A2463;
}

header time {
  color: #8e8e91;
}

header h1,
header h2,
header h3 {
  text-align: center;
}

hr {
  border: 1px solid rgba(142, 142, 145, 0.3);
  margin: 2em 0;
}

article:not(:last-child) {
  border-bottom: 1px solid rgba(142, 142, 145, 0.12);
}

blockquote {
  background: rgba(142, 142, 145, 0.06);
  border-left: 4px solid #388038;
  padding: 1px 1.5em;
  opacity: .75;
}

blockquote, figure {
  margin: 1em 0;
}

img, li {
  margin: .5em 0;
}

img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  width: 100%;
  border-spacing: 1px;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12) inset;
}

th, td {
  padding: .5em 1em;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12);
}

tr:hover, tr:nth-child(odd) td {
  background: rgba(142, 142, 145, 0.04);
}

body > header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 .6em rgba(28, 29, 34, 0.05);
  border-bottom: 1px solid rgba(142, 142, 145, 0.16);
}

body > header > a {
  font-size: 1.3em;
}

article header {
  margin-bottom: 1.5em;
}

article header h1 {
  font-size: 1.8em;
  margin: 0 0 .1em;
}

nav {
  align-self: center;
}

nav a {
  margin: .5em .8em;
}

footer hr { /* custom */
  width: 45%;
  border-style: dashed;
  margin-bottom: 1em;
}

body > header, body > article, body > footer {
  padding: 1.5em;
}

@media (min-width: 32em) {
  body > header, body > article, body > footer {
    padding: 1.75em calc(38% - 12em);
  }


}

@media (max-width: 32em) {
  body > header {
    flex-direction: column;
    border: 1px solid red;
  }

  body > header > nav {
    margin: auto;
  }
}

/* Lists */

ul {
  margin: 0;
}

li p,
li {
  margin: 0;
  line-height: 1.2em;
}

/* Code */

pre {
  font-size: .9em;
  font-family: 'Courier New', Courier, monospace;
  margin: 1.5em 0;
  padding: .8em 1.2em;
  overflow-x: auto;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

:not(pre) > code {
  font-size: .9em;
  margin: 0 .1em;
  padding: .2em .4em;
  color: #388038;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

del > code {
  color: #c02828;
}

del {
  text-decoration: line-through;
  text-decoration-color: #c02828;
  text-decoration-style: solid;
}
