<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}

  {{- block "main" . }}{{- end }}

  {{ if not .IsHome }}
  
  {{ end }}

  <!-- 100% privacy friendly analytics -->
  <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
{{ partial "foot.html" . }}

{{ partial "scripts.html" . }}
</html>
