{{ define "main" }}

{{ $Pages := .Pages }}

{{ $home := .IsHome }}
{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}

<article>
  <header>
    {{ if .IsHome }}
    <h1>{{ .Site.Params.Description}}</h1>
    {{ else }}
    <h1>{{ .Title }}</h1>
    {{ end }}
  </header>

  <div>
  {{ if lt (len $Pages) 5}}
    {{ partial "post-list" ( dict "pages" $Pages ) }}
  {{ else }}
    {{ range $Pages.GroupByDate "2006" }}
      <h2>{{ .Key }}</h2>
      {{ range .Pages.GroupByDate "January" }}
      <h3>{{ .Key }}</h3>
        {{ partial "post-list" ( dict "pages" .Pages ) }}
      {{ end }}
    {{ end }}
  {{ end }}
  </div>
</article>
{{ end }}
