{{ define "main" }}

<article id="article">
  <header>
    {{ if not .Params.hideMeta }}
    <div class="post-meta">
    {{ if .Date }}
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 02, 2006" }}</time> &nbsp; 
    {{ end }}

      <div class="date flex">
      {{ if .Site.Params.enableReadingTime }}
      <img class="icon" src="{{ "icons/clock.svg" | relURL }}"></img>
        {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
        {{ $minutes := math.Floor (div $readTime 60) }}
        {{ $seconds := mod $readTime 60 }}

        {{ if gt $minutes 0}}
          {{ $minutes }} {{ cond (eq $minutes 1) "minute" "min" }}
        {{ end }}
        {{ $seconds }} {{ cond (eq $seconds 1) "second" "s" }}
        &nbsp;
      </div>
    {{ end }}
    </div>
    {{ end }}

    {{ if .Params.categories }}
    <div class="categories flex">
      <img class="icon" src="{{ "icons/folder.svg" | relURL }}"></img>
      {{ range .Params.categories }}
      <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>

    <h1>{{ .Title }}</h1>
  {{ end }}
  
  </header>

  {{ .Content }}

  {{ if or (gt .Params.tags 0) .Lastmod }}
  
  <footer>
    {{ if .Params.Author}}
    <p class="right">
      Written by {{ .Params.Author }}
    </p>
    {{ end}}

    {{ if ne .Lastmod .Date }}
    <p>
      <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
        Edited on {{ .Lastmod.Format "January 02, 2006" }}
      </time>
    </p>
    {{ end }}
    <div class="post-tags">
    {{ if .Params.tags }}
      {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
        &nbsp;
      {{ end }}
    {{ end }}
    </div>
  </footer>
  {{ end }}

  {{ partial "related.html" . }}

  {{ partial "comments.html" . }}

</article>

{{ end }}
