<div class="foot">
  {{ $start := .Site.Params.startyear }}
  {{ with .Site.Copyright }}
    &copy; {{ $start }} - {{ now.Format "2006" }} &#183; 
    {{ . | markdownify }} &#183;
    <a href="#">↑</i></a>
  {{ end }}
</div>