<header class="menus">
    {{ if .Site.Params.siteLogo }}
    <a alt="Home Page" href="{{ .Site.BaseURL }}"><img alt="Site Logo" class="site-logo" src="{{ .Site.Params.siteLogo }}"/></a>
    {{ end }}

    <nav>
      {{ if not (gt (len .Site.Menus) 0) }}
      <a alt="Home Page" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      {{ end }}

      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </nav>
  </div>

  <nav class="social-links">

    {{ if .Site.Social.mastodon }}
    <a href="{{ .Site.Social.mastodon }}" target="_blank">
        <img class="icon" src="{{ "icons/mastodon.svg" | relURL }}"></img>
    </a>
    {{ end }}

    {{ if .Site.Social.git }}
    <a href="{{ .Site.Social.git }}" target="_blank">
      <img class="icon" src="{{ "icons/git.svg" | relURL }}"></img>
    </a>
    {{ end }}

    {{ if .Site.Social.email }}
    <a href="mailto:{{ .Site.Social.email }}" target="_blank">
      <img class="icon" src="{{ "icons/mail.svg" | relURL }}"></img>
    </a>
    {{ end }}

    {{ if .Site.Social.photography }}
    <a href="mailto:{{ .Site.Social.photography }}" target="_blank">
      <img class="icon" src="{{ "icons/aperture.svg" | relURL }}"></img>
    </a>
    {{ end }}

    {{ if .Site.Params.enableRss }}
    <a href="{{ "index.xml" | absLangURL }}" target="_blank">
      <img class="icon opaque" src="{{ "icons/rss.svg" | relURL }}"></img>
    </a>
    {{ end }}

  </nav>
  
  {{ with .Site.Params.description }}
  <div class="hidden description">{{ safeHTML . }}</div>
  {{ end }}
</header>