<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ hugo.Generator }}

  <title>{{ if .IsHome }} {{ "Home" }} | {{ else }} {{ .Title }} | {{ end }} {{ .Site.Title }}</title>
  {{- if or .Description .Site.Params.description }}
  <meta name="description" content="{{ .Description | default .Site.Params.description }}">
  {{- end }}
  {{- if .Params.favicon }}
  <link rel="icon" href="{{ .Site.Params.favicon }}">
  {{- end }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/index.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/classes.css">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="{{ .Site.Title }}">
</head>