<ul class="post-list">
{{ range .pages }}
  <li>
    <div class="post-meta">
        <a href="{{ .Permalink }}" alt="{{ .Title }} Post">{{ .Title }}</a>

        {{ if .Date }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 02, 2006" }}</time>
        {{ end }}
    </div>

    {{ if.Description }}
    <p>{{ .Description }}</p>
    {{ end }}
  </li>
  {{ end }}
</ul>