{{ $related := (where site.RegularPages "Type" "in" site.Params.mainSections).Related . | first 5 }}
{{ with $related }}
<div class="releated-post">
  <h3>Related Posts</h3>
  {{ partial "post-list" ( dict "pages" $related ) }}
</div>
{{ end }}