<script async type="application/javascript" src="/js/mermaid.min.js">
    var config = {
      startOnLoad:true,
      theme:'{{ if .Get "theme" }}{{ .Get "theme" }}{{ else }}dark{{ end }}',
      align:'{{ if .Get "align" }}{{ .Get "align" }}{{ else }}center{{ end }}'
    };
    mermaid.initialize(config);
  </script>
  
  <div class="mermaid">
    {{.Inner}}
  </div>
  